:root {
    --color-beige: #F5ECE3;
    --color-dark-beige: #EEE4DA;
    --color-white: #FFFFFF;
    --color-grey: #555555;

    --font-family-base: 'Montserrat', sans-serif;
    --transition-duration: 0.2s;
    /*Время, за которое происходит анимационный переход: a button input */

    --product-card-width: 310px;
    --product-card-height: 430px;
    --gap: 20px;
}

body {
    background: var(--color-beige);
    font-family: 'Montserrat', sans-serif;
    max-width: 1900px;
}

img {
    max-width: 100%;
}


.container {
    max-width: 1300px;
}

.navigation {
    max-width: 1300px;
    height: 120px;
    justify-content: space-between;
    width: 100%;
    color: var(--color-white);
    display: flex;
    font-size: 14px;
    position: relative;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
}

.capsule-text {
    color: var(--color-white);
    font-family: var(--font-family-base);
}

.navigation-list {
    max-width: 300px;
    align-items: center;
    display: none;
    gap: 47px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.bourger {
    width: 22px;
    cursor: pointer;
}

.bourger span {
    display: block;
    height: 1px;
    background: var(--color-white);
}

.bourger span+span {
    margin-top: 10px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-beige);
    z-index: 10;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    /* Чтобы плавно показывалось меню */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    /*Скрывать меню */
    opacity: 0.7;
    font-size: 24px;
    font-family: var(--font-family-base);

}

.burger-icons path {
    stroke: #555555;
}

.logo-burger {
    color: var(--color-grey);
    font-size: 33px;
}

.menu ul {
    list-style: none;
    text-align: center;
    height: 100%;
    padding-top: 80px;

}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: var(--color-grey);
    font-size: 22px;
    padding: 10px 0;
}

.burger-nav {
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    color: var(--color-grey);
    box-sizing: border-box;
    padding: 30px;

}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

.left-nav {
    justify-content: flex-start;
    align-items: center;
}

.right-nav {
    justify-content: flex-end;
}

.logo-dark {
    display: flex;
    justify-content: center;
}

.burger-icons,
.close {
    /* width: 18px;
    height: 18px; */
}

.close {
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    box-sizing: border-box;
    order: 1;
    margin-bottom: 3px;
}

.burger-close {
    order: 2;
}

.menu.active {
    transform: translateX(0);
    visibility: visible;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.glass {
    margin-bottom: 7px;
}

.search-container {
    /* display: none;  */
    position: absolute;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    background-color: var(--color-beige);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
}

.search-container.active {
    display: flex;
}

.search-input {
    font-size: 16px;
    padding: 12px;
    background-color: var(--color-beige);
    border: none;
    border-bottom: 2px solid #e0dcd7;
    color: var(--color-grey);
}


.navigation-search {
    display: none;
    align-items: center;
    gap: 20px;
}

.navigation-list a,
.contacts a {
    text-decoration: none;
    color: inherit;
}

.navbag {
    display: flex;
}

.navigation-list a:hover,
.contacts a:hover {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: center;
}

.bold-name {
    font-weight: bold;
}

.contacts {
    padding-right: 48px;
    margin: 0;
}

.search-icon,
.bag-icon,
.man-icon,
.navbag-icon {
    width: 14px;
    height: 14px;
    gap: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
}

.navbag-icon {
    display: flex;
}

.navbag-icon {
    background-image: url(../images/navbag-icon.svg);
}

.search-icon {
    background-image: url(../images/search-icon.svg);
}

.bag-icon {
    background-image: url(../images/bag-icon.svg);
}

.man-icon {
    background-image: url(../images/man-icon.svg);
}

.hero {
    min-height: 100vh;
    background-image: url(../images/Capsule_Collection_photo.png);
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: cover;
}

.nav-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.visually-hidden {
    display: flex;
    justify-content: space-between;
}

.carousel {
    height: calc(100vh - 120px);
    width: 1330px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.carousel-inner {
    position: relative;
}

.carousel-item img {
    max-width: 386px;
    display: block;
    height: auto;
    margin: 0 auto;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 40px;

}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin: 8px;
}

.carousel-button {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-control-prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

}

.carousel-control-next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev,
.carousel-control-next {
    width: 63px;
    height: 45px;
    border-radius: 60px;
    background-color: #8888884D;
    backdrop-filter: blur(14px);
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
}

/* Карти товарів */
.cards {
    padding-top: 70px;
    margin: 0 auto;
}

.product-grid {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    /*auto-fit, minmax Автоматический перенос карт без @media */
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    gap: 10px;

}

.product-card {
    display: none;
    max-width: 310px;
    height: 430px;
    position: relative;
    background-repeat: no-repeat;
    background-color: var(--color-dark-beige);
    flex-direction: column;
}

.product-card.care,
.product-card.beauty,
.product-card.brows {
    display: flex;
}

.product-card.care,
.product-card.beauty,
.product-card.brows {
    display: flex;
}

.brows-logo {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.brows-text {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 15px;
    color: var(--color-grey);
    margin-top: auto;
    position: absolute;
    bottom: 21px;
    padding-left: 21px;
    padding-right: 24px;
}

.brows-text p {
    font-size: 16px;

}

.care {
    background-image: url(../images/care-logo.png);
    background-position: center;
}

.care-text {
    display: flex;
    color: var(--color-grey);
    font-size: 48px;
    padding-left: 30px;
    position: absolute;
    bottom: 5px;
}

.beauty {
    background-image: url(../images/beauty-logo.png);
}

.brows {
    background-image: url(../images/brows-logo.png);
}

.ceo-comment {
    display: flex;
    align-items: center;
    padding-top: 70px;
    position: relative;
    flex-direction: column;
}

.ceo-comment>div {
    flex: 1 1 50%;
    max-width: 50%;
}

.text-block {
    align-items: center;
    justify-content: center;
    max-width: 720px;
    padding: 50px 60px;
}

.ceo-text {
    align-items: center;
    justify-content: center;
    max-width: 492px;
    margin: 0 auto;
}

.ceo-picture {
    height: auto;
    width: 100%;
}

.ceo-picture img {
    width: 100%;
}

.brend-description {
    padding-top: 67px;
    font-family: var(--font-family-base);
    font-size: 32px;
    color: var(--color-grey);
}

.brand-text {
    font-family: var(--font-family-base);
    font-size: 18px;
    color: var(--color-grey);
    padding-top: 34px;
}

.name-class {
    display: flex;
    align-items: center;
    max-width: 320px;
    padding-top: 44px;
}

.name-block {
    flex-direction: column;
    max-width: 145px;
}

.autograph img {
    max-width: 140px;
    padding-left: 35px;
}


/* От 768 и больше */
@media (min-width: 768px) {
    .bourger {
        display: none;
    }

    .navigation-list,
    .navigation-search {
        display: flex;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: flex;
    }

    .navbag {
        display: none;
    }

    .cards {
        grid-template-rows: repeat(2, 1fr);
    }

    .navigation {
        padding-top: 51px;
    }

    .menu.active .logo {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        z-index: 15;
    }

    .ceo-comment {
        flex-direction: row;
    }
}

@media (min-width: 628px) {
    .product-card {
        display: flex;
    }

    .ceo-picture {
        margin-left: 0;
    }
}

@media (min-width: 576px) {
    .product-card {
        display: flex;
    }

    .capsule-text {
        font-size: 36px;
    }


    .navbag {
        padding-left: 10px;
        /* Отступ слева от корзины */
    }

    .cards {
        grid-template-rows: repeat(1, 1fr);
    }
}

@media (min-width: 1240px) {
    .cards {
        grid-template-rows: repeat(3, 1fr);
    }

}





/* 
@media (min-width: 576px)
@media (min-width: 768px)
@media (min-width: 992px)
@media (min-width: 1200px) 
*/